.detail-container {
    max-width: 1100px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 40px;
}

.detail-image img {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
}

.detail-content h1 {
    font-size: 32px;
    margin-bottom: 6px;
}

.latin {
    font-style: italic;
    color: #6b7280;
    margin-bottom: 20px;
}

.info p {
    margin-bottom: 8px;
    font-size: 15px;
}

.description {
    margin-top: 25px;
}

.description h3 {
    margin-bottom: 10px;
    color: #2e7d32;
}

@media(max-width: 768px){
    .detail-container{
        grid-template-columns: 1fr;
    }
}

.btn-back {
    display: inline-block;
    padding: 8px 18px;
    background-color: #166534;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.btn-back:hover {
    background-color: #14532d;
}
.btn-back:active {
    background-color: #134e2c;
}
